<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="title-index">
                <span class="title-index-1">UPB</span><span class="title-index-2">BOOK</span>
            </h1>
            <h3 class="mb-5">
                <em style="color:#FCF5ED;">A social media created by Universidad Pontificia Bolivariana</em>
            </h3>
        </div>
        <div class="overlay"></div>
    </header>
</main>