<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/" > <ion-icon name="home-outline" class="ion-icon"> </ion-icon>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
       
        <li class="nav-item">
          <a class="nav-link" href="/posts"> My Proyects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts/all"> Public</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/friends/request">Friends Request{{#if user.hasFriendRequest}} ({{user.length}}){{/if}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/friends">Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
         <h1 class="mr-4" style="color: rgb(2555, 255, 255);"> <ion-icon name="person-outline" class="ion-icon"></ion-icon> {{user.fullname}}</h1>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signin">SignIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">SignUp</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
