<div class="container p-4">
            <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <a href="/friends/add">Added One!</a>
            </div>
        </div>
    <div class="row">
        {{#each valuesArray2}} 
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title text-uppercase">
                        {{#each this}} 
                            {{this}}
                        {{/each}}
                    </h3>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
