<div class="row">
        {{#each valuesArray2}} 
        <div class="col-md-3 m-4">
            <div class="card text-center m-4">
                <div class="card-body">
                    <h3 class="card-title text-uppercase">
                        {{#each this}} 
                            {{this}}
                        {{/each}}
                    </h3>
                    <a class="btn btn-danger" href="/friends/delete/{{u_id}}">
                    Reject
                    </a>
                    <a class="btn btn-success" href="/friends/accept/{{u_id}}">
                        Accept
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
