<div class="mt-4 col-md-4 mx-auto">
    <div class="card">
        <div class="card-body">
            <form >
                <a class="d-flex" href="/posts/all/{{post.author}}">
                    <h3 class="m-2 card-title text-uppercase" style="font-size: large;">
                        Created By:
                    </h3>
                    <h3 class="card-title text-uppercase" >
                        {{post.fullname}}
                    </h3>
                </a>                
                <div class="form-group">
                    <h1 style="font-size: medium;">Title</h1>
                    <input type="text" name="title" class="form-control" placeholder="Title" value="{{post.p_title}}" autofocus readonly>
                </div>
                <div class="form-group">
                    <h1 style="font-size: medium;">Content</h1>
                    <textarea name="description" rows="2" class="form-control" placeholder="Description" readonly>{{post.p_content}}</textarea>
                </div>
            </form>
        </div>
    </div>
</div>